table, th, td {
  border: 1px grey solid;
  border-collapse: collapse;
}

table {
  margin: 50px;
}

th, td {
  padding: 5px 10px;
}

th {
  background-color: rgb(46, 43, 43);
  color: white;
  font-family: -apple-system , Roboto , Ubuntu , Open Sans , sans-serif;
  font-size: larger;
}
